@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mega Online Store</h1>
    <p class="lead">Welcome to the Mega Store.Get anything you want!</p>
    <p><a href="/ProductsCatalog/List" class="btn btn-primary btn-lg">Search and Buy &raquo;</a></p>
</div>

